.reminder {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: @theme-item-width;
	height: @theme-item-height;
	margin: @theme-item-margin;
	color: #474350;
	font: 16px 'Trebuchet MS';
	background-color: #2fbf71;
	transition: background-color .5s ease;

	&.is-disabled {
		background-color: #ccc;
	}
}

.reminder__form {
	position: absolute;
	top: 120px;
	left: 0;
	display: none;
	width: 100%;

	.reminder.is-editing & {
		display: block;
	}
}

.reminder__form-item {
	padding: 10px 20px;
	text-align: center;
}

.reminder__label {
	display: block;
	margin-bottom: 4px;
	color: #fff;
	text-align: left;
}

.reminder__textarea,
.reminder__input {
	box-sizing: border-box;
	width: 100%;
	padding: 4px;
	color: #474350;
	font-size: 16px;
	text-align: left;
	border: 1px solid #fff;
}

.reminder__input:focus,
.reminder__textarea:focus {
	outline: none;
}

.reminder__textarea {
	height: 100px;
	resize: none;
}

.reminder__caption {
	fill: #fff;

	&.is-hidden {
		display: none;
	}
}

.reminder__button {
	width: 50%;
	margin: 5px 0;
	padding: 4px 0;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	border: 1px solid #fff;
	outline: 0;
	background: transparent;
	cursor: pointer;

	&:hover {
		padding: 3px 0;
		border-width: 2px;
	}
}

.reminder__settings {
	display: none;
	padding-top: 220px;

	.reminder:not(.is-edited):hover & {
		display: block;
	}

	.reminder.is-editing:hover & {
		display: none;
	}
}

.reminder__options {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

.reminder__title {
	margin: 40px 0 20px 0;
	color: #2fbf71;
	font-size: 20px;
	text-transform: uppercase;
}

.reminder__message {
	overflow: hidden;
	height: 230px;
	padding: 0 20px;
	border-bottom-right-radius: 40%;
	border-bottom-left-radius: 40%;
	transition: height .2s ease, color .2s ease;

	.reminder.is-editing &,
	.reminder:not(.is-edited):hover & {
		height: 0;
		color: #fff;
	}
}

.reminder__interval {
	overflow: hidden;
	height: 24px;
	transition: height .2s ease, color .2s ease;

	.reminder.is-editing & {
		height: 0;
		color: #fff;
	}
}