<footer class="footer">
    <a class="footer__link" href="http://bit.ly/healthy-notifications-mac-app" target="_blank">App for Mac OS X</a> is also available.
    Author <a class="footer__link" href="http://bit.ly/jughosta-for-healthy-notifications" target="_blank">@jughosta</a>.
</footer>